<h2>EDIT <%= @pokemon.name %></h2>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Name:</label>
  <input type="text" name="pokemon[name]" value="<%= @pokemon.name %>">
  <label>Type(s):</label>
  <input type="text" name="pokemon[poke_type]" value="<%= @pokemon.poke_type %>">
  <label>CP:</label>
  <input type="text" name="pokemon[cp]" value="<%= @pokemon.cp %>">
  <label>Img_URL:</label>
  <input type="text" name="pokemon[img_url]" value="<%= @pokemon.img_url %>">
  <label>Trainer ID:</label>
  <input type="text" name="pokemon[trainer_id]" value="<%= @pokemon.trainer_id %>">
  <input type="submit" value="Update">
</form>
<a href = "/pokemons/<%= @pokemon.id %>"><%= @pokemon.name %>'s page</a>
<br>
<a href = '/pokemons'> INDEX </a>
<br>
<br>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Release <%= @pokemon.name %>">
</form>
